<article>
  <header><h2>Frage: {{question().id}}</h2></header>
  <h2>{{question().questionText}}</h2>

    <form [formRoot]="answerForm" >
      @for (a of question().answers; track (a.id)){
        <label>
          {{ a.answerText }}
        </label>
      }
      <label for="answerText">Answer</label>
      <input type="text" id="answerText"
             [formField]="answerForm.answerText"
      />
      <button type="submit">Antwort abgeben</button>
    </form>
</article>
<div>@if (submittedResult) { {{ submittedResult.answerText}} }</div>
